@if(!isDeleted){
    <div class="w-[450px] shadow-lg m-auto mt-20 rounded-md p-5">
        <h1 class="text-center mb-8 font-medium text-3xl">Delete</h1>
        <input type="text" placeholder="Enter Id" class="w-full outline-none border mb-4 rounded-md p-2" [(ngModel)]="myId">
    
    
        <div class="flex gap-4">
            <button
                class="font-medium text-white bg-green-700 hover:bg-green-900 rounded-md px-4 py-2 w-full mb-8"(click)="CourseGetById()">Find Course</button>
    
                <button class="font-medium text-white bg-red-700 hover:bg-red-900 rounded-md px-4 py-2 w-full mb-8" (click)="DeleteCourseGetById()">Delete Category</button>

               
        </div>
        <h1>Course name : {{Course.name}}</h1>
        <h1>Course description : {{Course.description}}</h1>
        <h1>Auther Id : {{Course.auther.id}}</h1>
        <h1>PopularTopic Id : {{Course.popularTopic.id}}</h1>
 
        <img src={{Course.coursePhotoPath}} alt="">
    </div>
}
@else {
    <h1>Ma'lumotlar muvaffaqiyatli o'chirildi</h1>
}
