<section id="main" class="w-full">
    <div class="w-full shadow-2xl">
        <ul class="flex justify-between text-indigo-600 ">
            <li routerLink="admincreate"
                class="py-3 px-5 font-medium hover:border border border-transparent hover:bg-indigo-50 hover:text-indigo-800 cursor-pointer">
                AdminCreate
            </li>
            
            <li
                class="py-3 px-5 font-medium hover:border border border-transparent hover:bg-indigo-50 hover:text-indigo-800 cursor-pointer">
                <a href="../all/popular-topic/update.html">PopularTopicUpdate</a>
            </li>

            <li
                class="py-3 px-5 font-medium hover:border border border-transparent hover:bg-indigo-50 hover:text-indigo-800 cursor-pointer">
                <a href="../all/popular-topic/getAll.html">PopularTopicGetAll</a>
            </li>

            <li
                class="py-3 px-5 font-medium hover:border border border-transparent hover:bg-indigo-50 hover:text-indigo-800 cursor-pointer">
                <a href="../all/popular-topic/getById.html">PopularTopicGetById</a>
            </li>

            <li
                class="py-3 px-5 font-medium hover:border border border-transparent hover:bg-indigo-50 hover:text-indigo-800 cursor-pointer">
                <a href="../all/popular-topic/delete.html">PopularTopicDelete</a>
            </li>

        </ul>
    </div>

    
    
    <router-outlet></router-outlet>
</section>