.category {
    h2 {
        margin-bottom: 16px;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        margin-bottom: 20px;
    }

    &__wrapper {
        margin-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        p {
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            padding-top: 5px;
        }

        &-item {
            margin-bottom: 30px;
        }
    }
}