<button style="background-color: rgb(67, 118, 214);color: rgb(118, 67, 214);width: 150px;height: 25px;margin: 10px;" routerLink="/topicslist">Topic Page</button>



<!--Popular Topics-->
<div class="category" >
    <div class="container-fluid">
        <h2 style="color:rgb(102, 213, 228) ">{{topicname}}</h2>
        <div class="category__wrapper">
            @for(populartopic of populartopicliststring;track populartopic.id)
            {
            <div style="margin: 15px;font-family: fantasy;border: solid rgb(102, 213, 228) 5px;padding: 35px;border-radius: 15px;" 
            (click)="GetPopularTopicName($event)" routerLink="/courses" >
                <img src={{populartopic.popularTopicPhotoPath}}
                    alt="category" style="width: 300px;height: 300px;">
                <p style="font-size: 25px;color: rgb(67, 118, 214);" class="CategoryName">{{populartopic.name}}</p>
                <!-- <p style="font-size: 15px;color: rgb(118, 67, 214); width: 300px;">{{populartopic.description}}</p> -->
            </div>
        }
        </div>
    </div>
</div>



<div class="quote">
    <div class="container-fluid">
        <!-- Swiper -->
        <div class="swiper mySwiper5">
            <div class="swiper-wrapper">
                @for(topic of populartopicliststring;track topic.id)
                {
                    <div class="swiper-slide">
                        <div class="swiper-slide_items" >
                            <img src="	https://s.udemycdn.com/browse_components/student-quote-unit/quote.svg"
                                alt="quote">
                                <h1 style="font-size: 50px;">{{topic.name}}</h1>
                            <p style="text-align: center;">{{topic.description}}</p>
    
                        </div>
                       
                    </div>
                }
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>