<section id="main" class="w-full">
    <div class="w-full shadow-2xl">
        <ul class="flex justify-between text-indigo-600 ">
            <li routerLink="answercreate"
                class="py-3 px-5 font-medium hover:border border border-transparent hover:bg-indigo-50 hover:text-indigo-800 cursor-pointer">
                Answer Create
            </li>
            
            <li routerLink="answergetall"
            class="py-3 px-5 font-medium hover:border border border-transparent hover:bg-indigo-50 hover:text-indigo-800 cursor-pointer">
            Answer Get All
            </li>
            <li routerLink="answerupdate"
            class="py-3 px-5 font-medium hover:border border border-transparent hover:bg-indigo-50 hover:text-indigo-800 cursor-pointer">
            Answer Update
            </li>
            <li routerLink="answerdelete"
                class="py-3 px-5 font-medium hover:border border border-transparent hover:bg-indigo-50 hover:text-indigo-800 cursor-pointer">
                Answer Delete
            </li>
        </ul>
    </div>

    
    
    <router-outlet></router-outlet>
</section>