<footer>
    <div class="container">
        <div class="footer__companies">
            <div>
                <h2>Top companies choose <a href="#">Udemy Business</a> to build in-demand career skills.</h2>
            </div>
            <div class="brands">
                <img src="https://s.udemycdn.com/partner-logos/v4/nasdaq-light.svg" alt="nasdaq-light">
                <img src="https://s.udemycdn.com/partner-logos/v4/volkswagen-light.svg" alt="volkswagen">
                <img src="https://s.udemycdn.com/partner-logos/v4/box-light.svg" alt="box-light">
                <img src="https://s.udemycdn.com/partner-logos/v4/netapp-light.svg" alt="netapp-light">
                <img src="https://s.udemycdn.com/partner-logos/v4/eventbrite-light.svg" alt="eventbrite-light">
            </div>
        </div>


        <div class="footer__wrapper">
            <div class="footer__wrapper--list">
                <ul>
                    <li>
                        <a href="#">Udemy Business</a>
                    </li>
                    <li>
                        <a href="#">Teach on Udemy</a>
                    </li>
                    <li>
                        <a href="#">Get the app</a>
                    </li>
                    <li>
                        <a href="#">About us</a>
                    </li>
                    <li>
                        <a href="#">Contact us</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#">Careers</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    <li>
                        <a href="#">Help and Support</a>
                    </li>
                    <li>
                        <a href="#">Affiliate</a>
                    </li>
                    <li>
                        <a href="#">Investors</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#">Terms</a>
                    </li>
                    <li>
                        <a href="#">Privacy policy</a>
                    </li>
                    <li>
                        <a href="#">Cookie settings</a>
                    </li>
                    <li>
                        <a href="#">Sitemap</a>
                    </li>
                    <li>
                        <a href="#">Accessibility statement</a>
                    </li>
                </ul>
            </div>
            <div class="footer__wrapper-btn">
                <button>
                    <i class="bi bi-globe"></i>
                    English
                </button>
            </div>

        </div>
        <div class="logo">
            <img src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy-inverted.svg" alt="logo">

            <p>© 2024 Udemy, Inc.</p>
        </div>
    </div>
</footer>