<section id="main" class="w-full">
    <div class="w-full shadow-2xl">
        <ul class="flex justify-between text-indigo-600 ">
            <li routerLink="lessoncreate"
                class="py-3 px-5 font-medium hover:border border border-transparent hover:bg-indigo-50 hover:text-indigo-800 cursor-pointer">
                lesson Create
            </li>
            
            <li routerLink="lessongetall"
            class="py-3 px-5 font-medium hover:border border border-transparent hover:bg-indigo-50 hover:text-indigo-800 cursor-pointer">
            lesson Get All
            </li>
            <li routerLink="lessonupdate"
            class="py-3 px-5 font-medium hover:border border border-transparent hover:bg-indigo-50 hover:text-indigo-800 cursor-pointer">
            lesson Update
            </li>
            <li routerLink="lessondelete"
                class="py-3 px-5 font-medium hover:border border border-transparent hover:bg-indigo-50 hover:text-indigo-800 cursor-pointer">
                lesson Delete
            </li>
        </ul>
    </div>

    
    
    <router-outlet></router-outlet>
</section>