<section id="main" class="w-full">
    <div class="w-full shadow-2xl">
        <ul class="flex justify-between text-indigo-600 ">
            <li routerLink="authercreate"
                class="py-3 px-5 font-medium hover:border border border-transparent hover:bg-indigo-50 hover:text-indigo-800 cursor-pointer">
                auther Create
            </li>
            
            <li routerLink="authergetall"
            class="py-3 px-5 font-medium hover:border border border-transparent hover:bg-indigo-50 hover:text-indigo-800 cursor-pointer">
            auther Get All
            </li>
            <li routerLink="autherupdate"
            class="py-3 px-5 font-medium hover:border border border-transparent hover:bg-indigo-50 hover:text-indigo-800 cursor-pointer">
            auther Update
            </li>
            <li routerLink="autherdelete"
                class="py-3 px-5 font-medium hover:border border border-transparent hover:bg-indigo-50 hover:text-indigo-800 cursor-pointer">
                auther Delete
            </li>
        </ul>
    </div>

    
    
    <router-outlet></router-outlet>
</section>