.login {
    padding: 48px 24px;
    margin: 0 auto;
    width: 400px;

    &__wrapper {
        h3 {
            margin-bottom: 16px;
            font-family: "Open Sans", sans-serif;
            font-size: 15px;
        }

        &--input {
            .input {
                padding: 20px 16px 15px;
                width: 350px;
                margin-bottom: 10px;
                outline: none;
                font-family: "Open Sans", sans-serif;

            }

            .checkbox {
                padding: 8px 0;
                cursor: pointer;
                display: flex;
                gap: 10px;
                align-items: start;

                input {
                    cursor: pointer;
                    width: 15px;
                    height: 20px;
                }

                span {
                    width: 285px;
                    font-family: "Open Sans", sans-serif;
                    font-size: 14px;
                }
            }

            button {
                width: 350px;
                background-color: #A435F0;
                color: white;
                font-weight: 700;
                margin-top: 5px;
                border: none;
                padding: 15px 0;
                font-family: "Open Sans", sans-serif;
                margin-bottom: 15px;

                &:hover {
                    background-color: #851eca;
                }
            }

            .small-title {
                font-family: "Open Sans", sans-serif;
                font-size: 10px;
                color: gray;

                a {
                    font-size: 11px;
                    color: gray;
                    text-decoration-color: #5624D0;
                }
            }

            p {
                text-align: center;
                margin-bottom: 15px;

                a {
                    font-weight: 700;
                    font-size: 15px;
                    color: #5624D0;
                    font-family: "Open Sans", sans-serif;
                }
            }

            hr {
                width: 350px;
            }

            .sign {
                font-family: "Open Sans", sans-serif;
                padding: 15px 0;
                font-size: 13px !important;
            }
        }


    }
}   