<main>
    <section class="login">
        <div class="container-fluid">
            <div class="login__wrapper">
                <h3>Sign up and start learning</h3>


                <div class="login__wrapper--input">
                    <input id="firstName" type="text" placeholder="First Name" class="input">
                    <input id="lastName" type="text" placeholder="Last Name" class="input">
                    <input id="userName" type="text" placeholder="User Name" class="input">
                    <input id="email" type="email" placeholder="Email" class="input">
                    <input id="password" type="password" placeholder="Password" class="input">

                    <div class="checkbox">
                        <input type="checkbox">
                        <span>Send me special offers, personalized recommendations, and learning tips.</span>
                    </div>

                    <button (click)="register()">Sign up</button>

                    <p class="small-title">By signing up, you agree to our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy.</a></p>

                    <hr>

                    <p class="sign">Already have an account? <a href="./login.html">Log in</a></p>
                </div>
            </div>
        </div>
    </section>
</main>