<section id="main" class="w-full">
    <div class="w-full shadow-2xl">
        <ul class="flex justify-between text-indigo-600 ">
            <li routerLink="topiccreate"
                class="py-3 px-5 font-medium hover:border border border-transparent hover:bg-indigo-50 hover:text-indigo-800 cursor-pointer">
                topicCreate
            </li>
            
            <li routerLink="topicgetall"
            class="py-3 px-5 font-medium hover:border border border-transparent hover:bg-indigo-50 hover:text-indigo-800 cursor-pointer">
            topicGetAll
            </li>
            <li routerLink="topicupdate"
                class="py-3 px-5 font-medium hover:border border border-transparent hover:bg-indigo-50 hover:text-indigo-800 cursor-pointer">
                topicUpdate
            </li>
            <li routerLink="topicdelete"
            class="py-3 px-5 font-medium hover:border border border-transparent hover:bg-indigo-50 hover:text-indigo-800 cursor-pointer">
            topicDelete
            </li>
     

        </ul>
    </div>

    
    
    <router-outlet></router-outlet>
</section>