@if(!isSubmitted){
    <div class="w-[450px] shadow-lg m-auto mt-20 rounded-md p-5">
        <h1 class="text-center mb-8 font-medium text-3xl">Update</h1>
        <div class="flex items-center gap-3 mb-4">
            <input type="number" placeholder="Enter id" class=" outline-none border rounded-md p-2 w-[270px]" [(ngModel)]="myId" name="id">
            <button
                class="font-medium text-white bg-green-700 hover:bg-green-900 rounded-md p-2 w-[150px]" (click)="GetByIdCategory()">Find
                Category</button>
        </div>
        <img src={{category.categoryPhotoPath}} alt="" style="margin-bottom: 50px;">
        <input type="text" placeholder="Enter Category Name" class="w-full outline-none border mb-4 rounded-md p-2" required value={{category.name}} [(ngModel)]="setValue.Name" Name="Name">
        <input type="text" placeholder="Enter Category Description" class="w-full outline-none border mb-4 rounded-md p-2" required value={{category.description}}  [(ngModel)]="setValue.Description" Description="Description">
        <form  enctype="multipart/form-data" style="margin-bottom: 25px;">
            <input type="file" (change)="onFileSelected($event)">
            
        </form>
    
        <button class="font-medium text-white bg-indigo-700 hover:bg-indigo-900 rounded-md px-4 py-2 w-full mb-8" (click)="SetCategory()">Submit</button>
    
        
    </div>
}
@else {
    <h1>Malumot update qilindi</h1>
}